---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="w-full h-screen bg-[url('https://optimise2.assets-servd.host/noble-site/production/backgrounds/May-Hero-2024-Desktop.jpg?w=2500&h=1300&auto=compress%2Cformat&fit=crop&dm=1714578719&s=243936ed83c2c6f4dc28685c58ac2171')]">
	</main>
</Layout>

