---
import Layout from '../layouts/Layout.astro';
import SvgAsset from '../components/SvgAsset.astro';
---

<Layout title="Noble demo">
	<main>
		<div class="w-full h-screen bg-[url('May-Hero-2024-Desktop.webp')]">
			<SvgAsset asset="mission_possible" />
		</div>
	</main>
</Layout>

